# python==3.10
# use Google, Deep Learning VM with CUDA 12.4, M129, Debian 11, Python 3.10. With CUDA 12.4 preinstalled. 
# pip install torch==2.6.0 torchvision==0.21.0 torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu124
# torch==2.6.0
# torchvision==0.21.0
scikit-learn==1.2.2
pandas==1.5.3
opencv-python
scipy==1.10.1
tqdm==4.65.0
matplotlib==3.7.1
pyyaml==6.0
hydra-core==1.3.2
torchsummary==1.5.1
hydra-optuna-sweeper==1.2.0
uvicorn
fastapi
scikit-image
python-multipart==0.0.5
optuna==2.10.1
chardet==5.2.0
streamlit